.about-collapse{
    margin:$margin;
}
.collapse{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    overflow: hidden;
}
.collapse-title{
    @include button-collapse;

    i{
        font-size: 30px;
        padding-right: 20px;
    }
}
.collapse-content {
    width:75%;
    display:flex;
    padding: 5px;
    //margin-top: 0;
    align-items: center;
    background-color:$back-ground-elements;
    max-height: 0;
    overflow: hidden;
    transform: translateY(-10px);
    transition: max-height 0.4s ease, opacity 0.4s ease, transform 0.4s ease;
    opacity: 0;

    p{
        color: $color-text;
        font-size: 20px;
    }
    li {
        list-style: none;
        display: flex;
        font-size: 20px;
    }
}
.collapse-content.open {
    max-height: 500px;
    transform: translateY(0);
    opacity: 1;
}
.collapse-title span i {
    transition: transform 0.2s ease;
    cursor:pointer;
}
.collapse-title span i.rotate {
    transform: rotate(180deg);
}
