.img-logement{
    padding:0px 40px;
    
}
.carousel-container {
    display: flex;
    align-items: center;
    justify-content: center;
    width:100%;
    
    .carousel-image{
        width:100%;
    }
    img{ 
    object-fit: cover;
    border-radius: 10px;
    @include size (100%, 450px);
    z-index: 0;
    position:relative;
    
    }
    .carousel-button-next{
        z-index: 1;
        position: absolute;
        left: 85%;
        @include button-carousel;
    }
    .carousel-button-prev{
        z-index: 1;
        position: absolute;
        right: 85%;
        @include button-carousel;
    }
    .carousel-counter{
        z-index: 1;
        position: absolute;
        top:570px;
        color:white;
    }
}
.title-location-tags-content{
    display:flex;
    flex-direction: column;
    padding-left:40px;
}
.logement-content{
    display:flex;
    justify-content: space-between;
    align-items: flex-start;
}
.title-logement {
    color: $color-main;
    font-size: 40px;
    display: flex;
    justify-content: space-between;
   
    p{
        margin:10px;
    }
}
.host-rating-container{
    display:flex;
    flex-direction: column;
    align-items: flex-end;
    margin: 0px 20px;
}
.host-logement{
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom:5px;
    color: $color-main;
    font-size: 20px;

    .host-img{
        display: flex;
        justify-content: flex-end;
        border-radius: 50%;
        margin: 10px;
        height: 80px;
        object-fit: cover;
    }
}
.rating-stars{
    color: $color-main;
    font-size: 20px;
    display: flex;
    justify-content: end;
    width: 40%;
}
.location-logement{
    width:200px;

}
.tags-logement ul{
    display: flex;
    flex-direction: row;
    padding:0px;
}
.tags-logement li {
    @include tags;
    margin-right: 5px;
    display:flex;
}

.collapse-logement{ 
    display:flex;
    //flex-direction: row;
    justify-content: space-between;
    margin-bottom: 20px;
}
.description-logement{
    width: 40%;
}
.equipment-logement{
    width: 40%;
}
