@media (max-width: 768px) {
    body{
        max-width:768px;
    }
//header
    header{
        .logo-kasa{
            @include size (30px, 5px);
        }
        .header-nav a{
            font-size: 10px;
        }
    }//ne marche pas

//Banner
    .banner{
        @include size (90%, 30px);
        display:flex;
        justify-content: center;
        margin:0px;
        img{ 
            @include size (90%, 30px);
            border-radius: 10px;
        }
        
        .text-banner{
            color:white;
            font-size: 16px;
            position: absolute;
            left: 20%;
            top: 220px;
        }
    }

//Home page
.logement-card{
    figcaption{
        width:50%;
    }//Ne marche pas
}

//Page à propos
    .about-collapse{
        h2{
            font-size: 12px;
        }
        .collapse-title{
            height: 20px;
            i{
                font-size: 14px;
            }
        }
        .collapse-content.open{
            p {
                font-size: 12px;// ne marche pas
            }
        }
    }

//Page logement
    .img-logement{ 
        // img{
        //     height: 200px;
        // }
        height: 200px;
    }
    .logement-content{
        display:flex;
       flex-direction: column;
        gap: 15px;
    }
    .title-logement{
        display:flex;
        flex-direction: row;
        justify-content: space-between;
        p{ 
            font-size: 22px;
        } 
    }
    // .location-logement{
    //     order:2;
    // }
    //Tags
    .tags-logement{
        
        .tags-logement li{
            font-size: 14px;
        }
    }
    .host-rating-container{
        display:flex;
        flex-direction: row;
        justify-content: space-between;
       // align-items: center;
       // width: 100%;
       }
    .host-logement{
        display:flex;
        align-items: flex-end;
       //width:100%;
        .host-name{
            font-size: 14px;
        }
        img{
            height: 40px;
        }
    }
    .rating-logement{
        display: flex;
        //text-align: left;
        align-items: center;
       //width:100%;
    }
    .collapse-logement{
        order:6;
        display: flex;
        justify-content: center;
        flex-direction: column;
    
        .collapse-title{
            @include size (95%, 30px);
            border-radius: 10px;
            i{
                font-size: 14px;
            }
        }
        .collapse-content.open{
            p {
                font-size: 14px;// ne marche pas
            }
        }

        .description-logement{
            width: 100%;
            

            h2{
                    font-size: 14px;
            }
        }//changer disposition
        .equipment-logement{
            width: 100%;
            h2{
                font-size: 14px;
            }
        }
    }
}