@media (max-width: 768px) {
    body{
        max-width:768px;
    }
//Banner
    .banner{ 
        .text-banner{
            left:20%;
            top:180px;
        }
    }

//Home page
.logements-container{
    background-color: transparent;
}
.logement-card{
    figcaption{
        left:30%;
    }
}

//Page à propos
    .about-collapse{
        h2{
            font-size: 14px;
        }
        .collapse-title{
            height: 20px;
            width:90%;
            i{
                font-size: 14px;
            }
        }
        .collapse-content.open{
            width:90%;
            p {
                font-size: 12px;
            }
        }
    }

//Page logement
    .img-logement{ 
        img{
        height: 200px;
        }
        .carousel-button-next{
            font-size: 100px;
        }
        .carousel-button-prev{
            font-size: 100px;
        }
        .carousel-counter{
            top:300px;
        }
     }
    .logement-content{
        display:flex;
       flex-direction: column;
        gap: 15px;
    }
    .title-logement{
        display:flex;
        flex-direction: row;
        justify-content: space-between;
        p{ 
            font-size: 22px;
        } 
    }

    //Tags
    .tags-logement{
        
        .tags-logement li{
            font-size: 14px;
        }
    }
    .host-rating-container{
        display:flex;
        flex-direction: row-reverse;
        justify-content: space-around;
        align-items: center;
        width: 100%;
        padding:0px 20px;
        .host-logement{
            display:flex;
            align-items: center;
            justify-content: flex-end;
            .host-name{
                font-size: 14px;
            }
        }
        .rating-logement{
            display: flex;
            justify-content:flex-start;
            align-items: center;
        }
       }
    .collapse-logement{
        order:6;
        display: flex;
        justify-content: center;
        flex-direction: column;
    
        .collapse-title{
            @include size (95%, 30px);
            border-radius: 10px;
            i{
                font-size: 14px;
            }
        }
        .description-logement{
            width: 100%;
            h2{
                font-size: 14px;
            }
            .collapse-content.open{
                width:95%;
                p{
                    font-size: 14px;
                }
            }
        }
        .equipment-logement{
            width: 100%;
            h2{
                font-size: 14px;
            }
            li{
                font-size: 14px;
            }
            .collapse-content.open{
                width:95%;
            }
        }
    }
}