@import "variables";
@import "banner";
@import "cards";
@import "error";
@import "about";
@import "logement";
@import "mediaqueries";

body{
  margin: 0px;
}
:root {
    font-family: $police;
  }

header{
    display: flex;
    justify-content: space-between;
    margin: 30px;

    .logo-kasa{
     @include size (200px, 30%);
    }
    .header-nav{
      display:flex;
      .active-link{
        text-decoration: underline;
      }
    }
  .header-nav a{
    text-decoration: none;
    margin:20px;
    font-size: 20px;
  }
}
footer{
    display:flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: black;
    color: white;
    @include size (100%, 150px);
    margin: 0px;
    img{
        width:100px;
        padding-bottom: 20px;
    }
    p{
        font-size: 10px;
        color: white;
    }
}
